a {
  text-decoration: underline
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

#body {
  text-align: center;
}

#footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  font-family: Helvetica;
}

#mainHeader {
  background-image: url('./resources/images/the-flatiron-building.png') fixed no-repeat;
  height: auto;
  width: auto;
}
