a {
  text-decoration: underline
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#body {
  text-align: center;
  font-family: Helvetica;
}

#footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;

}

#mainHeader, h3 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
  height: auto;
  width: auto;
}
